<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">     
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="/vendor/colorPicker/css/bootstrap-colorpicker.css">
     <link rel='icon' href='https://vigil.com.ar/favicons/notimation.ico' type='image/x-icon' />
     
     <title>Noti Campaigns</title>    
    
      <style>  

      #rcard {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
      }    

      .table-layout {
          text-align: center;
          border: 1px solid black;
          border-collapse: collapse;
          font-family:"Trebuchet MS";
          margin: 0 auto 0;
      }
      .table-layout td, .table-layout th {
          border: 1px solid grey;
          padding: 5px 5px 0;
      }
      .table-layout td {
          text-align: left;
      }
      .selected {
          color: red;
          background-color: yellow;
      }

      .form-control-xs {
          height: calc(1em + .375rem + 2px) !important;
          padding: .125rem .25rem !important;
          font-size: .75rem !important;
          line-height: 1.5;
          border-radius: .2rem;
      }
                
       
     </style>
     <link rel="stylesheet" type="text/css" href="/css/styles_uitool.css">

  </head>

  <body class="body_campaing">    

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
    <script src="https://cdn.tiny.cloud/1/lr9wasio09vwo6la4k91gs8hybva1vp7oxw5k9cfpm2g5pm6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautifier.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautifier.js"></script>

    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth-compat.js"></script>     
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-storage-compat.js"></script> 


    <script src="https://kit.fontawesome.com/f014efefd7.js" crossorigin="anonymous"></script>

    <script src="/vendor/colorPicker/js/bootstrap-colorpicker.js"></script>       

    <header>
      <img class="logo_ui" src="/images/uitool_logo.png">
      <div class="info_user">
        <button type="button" class="btn btn_acerca" data-toggle="modal" data-target="#acercaModal"><i class="fas fa-info-circle"></i> Acerca</button>
        <button id="btn_loguot" class="btn btn_loguot"><i class="fas fa-sign-out-alt"></i> Salir</button>
        <div class="powered">
          <span class="badge badge-default">powered by</span>
          <a href="http://notimation.com.ar/"><img alt="Bootstrap Image Preview"src="/images/logo_noti.png" /></a>
        </div>
      </div>            
    </header>
    <div class="uilinea"></div>
    <section>
      <div class="section_title">
        <h3>Creador de campañas</h3>
        <div id="info_client" class="info_clie">
          <span>Juan Perez</span>
        </div>        
      </div>
      <div class="cnt_categories">
        <div class="box_categ bg_uitool_na">
          <div class="camp_tabla">
            <h3>Campañas</h3>
            <table id="campaign-table"  class="table table-bordered table-hover table-sm">
              <thead>
                <tr>                
                  <th>Nombre</th>
                  <th>Sub-dominio</th>
                  <th>Actualizada</th>                                                     
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>

          <div class="camp_infor">
            <h3>Información</h3>
            <!-- Espacio para agregar informacion de la campaña -->
            <div class="camp_descrip">
              <div class="form-group">
                <label for="campaign-descrip">Descripción:</label>
                <input type="text" id="campaign-descrip"  class="form-control">
                <small class="form-text">(*)Opcional, descripción de la campaña y diseños.</small>
              </div>                                   
            </div>            
          </div>

        </div>      
      </div>
      <div class="cnt_campa">
        <div class="new_campa bg_uitool_na">
          <div class="btn_campaing">
            <button id="new-campaign" type="button" class="btn btn_ui_dark">Nueva Campaña</button>
            <button id="save-campaign" type="button" class="btn btn_ui_grey">Guardar Campaña</button>
          </div>          
          <div class="camp_nom">
            <div class="form-group">
              <label for="campaign-name">Nombre campaña:</label>
              <input id="campaign-name" type="text" class="form-control">
              <small class="form-text">Defini un nombre para la campaña</small>
            </div>                                   
          </div>
          <div class="camp_subdominio">
            <label for="campaign-domain">Subdominio de campaña:</label>
            <div class="input-group">              
              <input type="text" id="campaign-domain"  class="form-control">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" placeholder="ejemplo">.noti.sm</span>
              </div>
            </div>                                   
          </div>
          <div class="leyen_url">
            <label id="domain-link">http://ejemplo.noti.ms/id</label>
          </div>
          <div class="leyen_campa">
            Definir un nombre de dominio para campaña sin utilizar caracteres especiales. 
          </div>          
        </div>
        <div class="new_fields bg_uitool_na">          
          <h3>Variables</h3>
          <table id="field-table" class="table table-bordered table-sm">
          <thead>
            <tr>              
              <th>Campo</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr id="field0">
              <td><input id="name_0" type="text" class="form-control"></td>
              <td><input id="value_0" type="text" class="form-control"></td>                               
            </tr>                              
          </tbody>
          </table>
          <div class="camp_field">
            <div>
              <label>Agregar campo</label>
              <button id="add-field" type="button" class="btn btn-sm btn_ui_c_orange"><i class="fas fa-plus-circle"></i></button>
            </div>
            <div>
              <label class="btn btn-default">
                Subir archivo de Excel 
                <input id="excel-file" type="file" hidden>
                <i class="fas fa-file-excel"></i>
              </label>
            </div>            
          </div>
        </div>
      </div>
      <div class="cnt_previews">
        <div class="box_prev bg_uitool_na">
          <div class="d-flex">
            <h3>Diseños</h3>
            <button id="add-field" type="button" class="btn btn_ui_grey ml-2">Nuevo diseño</button>
          </div>        
          <div id="cards">
          </div>
        </div>      
      </div>
    </section>
    <div class="uilinea"></div>
    <footer>
      <div class="powered">
        <span class="badge badge-default">powered by</span>
        <a href="http://notimation.com.ar/"><img alt="Bootstrap Image Preview"src="/images/logo_noti.png" /></a>
      </div>
    </footer>  

    <!--MODALS-->
    <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="msgModalTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">            
            <p id="msgModalContent"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Acerca-->
    <div class="modal fade" id="acercaModal" tabindex="-1" role="dialog" aria-labelledby="acercaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acercaModalLabel">Acerca de UiTool</h5>
      </div>
      <div class="modal-body">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_ui_dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div>
    </div>
    <!-- Fin modal Acerca -->

  </div>  

  <script>      

     $(document).ready(function () {    
       
        function sleep(milliseconds) {
          var start = new Date().getTime();
          for (var i = 0; i < 1e30; i++) {
            if ((new Date().getTime() - start) > milliseconds){
              break;
            }
          }
        }

        var active_saludo = false;
        var active_cuerpo = false;
        var active_from_button = false;

        var target_result;

        var data;
        var count_drop = 0;

        var count_field = 1;

        var fields_array = [];
        var designs_array = [];

        var jsonCat = {}; 
        var active_campaign = 0;

        var campaign_name, campaign_domain, campaign_id, client_name; //, client_name_label;

        const firebaseConfig = {
          apiKey: "AIzaSyAM4WQDHpHh1oRT_v-6ikquE4V809hA3kY",
          authDomain: "notims.firebaseapp.com",
          databaseURL: "https://notims.firebaseio.com",
          projectId: "notims",
          storageBucket: "notims.appspot.com",
          messagingSenderId: "79471870593",
          appId: "1:79471870593:web:ef29a72e1b1866b2bb4380",
          measurementId: "G-8T5N81L78J"
        };

        var fireApp   = firebase.initializeApp(firebaseConfig);
        var fireAuth  = fireApp.auth();
        var firestore = firebase.firestore();
        //var storage   = firebase.storage();

        var API_ROOT = "";
        if (location.hostname == "127.0.0.1" || location.hostname == "localhost") {
          API_ROOT = "http://localhost:5001/radon-network/us-central1";
        }else{
          API_ROOT = "https://us-central1-radon-network.cloudfunctions.net";
        }

        if (location.hostname == "127.0.0.1" || location.hostname == "localhost") {
          fireAuth.useEmulator("http://localhost:9099");   
          firestore.useEmulator("localhost", 8080);    
          //storage.useEmulator("localhost", 9199);                    
        } 

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };          


        $( "#btn_loguot" ).click(function() {       

          fireAuth.signOut()
            .then(function () {            

              window.location.reload();  

            }).catch(function (error) {            
              var errorMessage = error.message;  
              console.log(errorMessage);
            });

        });           

        fireAuth.onAuthStateChanged(function (user) {

          if (user) { 

            $( "#login" ).text("Campoaign composer - Logged");

            window.account = getUrlParameter('account');    
            
            firestore.collection("accounts").where("uid", "==", user.uid)
            .get().then(function(doc) {                                   
                
              if (doc.docs.length>0) {
                  client_name =  doc.docs[0].data().name;   
                  $( "#client_name").text(client_name);        
                  //client_name_label =  doc.data().name_label; 
                  return doc.docs[0].id;
              }

            }).then(function(accountId) {             
            
              firestore.collection('accounts')
              .doc(accountId)
              .collection("campaigns")
              .onSnapshot(snapshot => {
                
                  var size = snapshot.size;            
                  let changes = snapshot.docChanges();  

                  if (size>0) {
                  
                    $("#campaign-table tbody tr").remove();
                    $("#field-table tbody tr").remove();
                    $("#campaign-name").val('');                

                    var _json_campaign_ = `{"campaigns":[`;
                    
                    var count_campaigns = 0;

                    changes.forEach(change => {
                        
                        var document = change.doc;
                        var id = document.id;  
                        window.campaignId = id;
                        let last = document.data().last_update.toDate();
                        let last_update = formatDate(last);                     
                        
                        var _campaign_name    =  document.data().name;
                        var _campaign_domain  =  document.data().subdomain;                                      
                        
                        let item_campaign = `<tr id=\\"${count_campaigns}\\" data-id=\\"${document.id}\\">                      
                        <td>${_campaign_name}</td>
                        <td>${_campaign_domain}</td>
                        <td>${last_update}</td>`;                    

                        var item_campaign_joined = item_campaign.replace(/(<.*?>)|\s+/g, (m, $1) => $1 ? $1 : ' ');
                            
                        console.log(item_campaign_joined);
                        console.log("");

                        _json_campaign_ += `{"id":"${id}","name":"${_campaign_name}","subdomain":"${_campaign_domain}","item":"${item_campaign_joined}","fields":[`;

                        let fields = document.data().fields;

                        var fields_html = [];

                        if ( fields.length>0 ) {                    

                          $("#field0").remove(); 

                          var count_field = fields.length;
                          
                          var count = 0;

                          for (var i=0; i < count_field; i++) {              

                            let field = fields[i];                  
                            let name = field.name;
                            let value = field.value;

                            let field_item = `<tr id=\\"field${i}\\">                            
                              <td>
                                <input id=\\"name_${i}\\" value=\\"${name}\\" type=\\"text\\" class=\\"form-control\\">
                              </td>
                              <td>
                                <input id=\\"value_${i}\\" value=\\"${value}\\" type=\\"text\\" class=\\"form-control\\">
                              </td>                               
                            </tr>`;                             

                            var field_item_joined = field_item.replace(/(<.*?>)|\s+/g, (m, $1) => $1 ? $1 : ' ');
                            
                            //console.log(field_item_joined);
                            //console.log("");

                            _json_campaign_ += `"${field_item_joined}"`;

                            if (count == (count_field-1)) {

                              _json_campaign_ += `],"designs":[`; 

                              if (count_campaigns == (size-1)) {                              
                                _json_campaign_ += `]}]}`; 
                                jsonCat = JSON.parse(_json_campaign_);
                                loadCampaignById(active_campaign);
                              }
                              count_campaigns++;

                            } else {
                              _json_campaign_ += `,`; 
                            }
                            count ++;

                          }                

                        }  
                        
                        const designs = firestore.collection('accounts')
                        .doc(window.account)
                        .collection("campaigns")
                        .doc(id)
                        .collection("designs");
                        designs.get().then((querySnapshot) => {

                            jsonCat.campaigns[active_campaign]["designs"] = [];
                            
                            var alphabet = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"];
                            let cardSize = querySnapshot.docs.length;        
                            window.newdesign = alphabet[cardSize];  
                            
                            var countDesigns = 0;

                            if (cardSize > 0) {

                              querySnapshot.docs.map((doc) => {                             

                                  if (doc.exists) {

                                    var id_card = doc.id;

                                    firestore.collection('accounts')
                                    .doc(window.account)
                                    .collection("campaigns")
                                    .doc(id)
                                    .collection("designs")
                                    .doc(id_card)
                                    .onSnapshot((cardSnapshot) => {
                                    
                                        let name = cardSnapshot.data().name;
                                        let piw = cardSnapshot.data().public_image_web;
                                        let pip = cardSnapshot.data().public_image_preview;
                                        let card = filterCard(id, id_card, name, piw, pip);     
                                        
                                        if (card != undefined) {

                                          let card_joined = card.replace(/(<.*?>)|\s+/g, (m, $1) => $1 ? $1 : ' ');
                                          let json_card = `{"id":"${id_card}", "name":"${name}","card":"${card_joined}"}`;                            
                                          jsonCat.campaigns[active_campaign]["designs"].push(JSON.parse(json_card));

                                          //if (countDesigns == (cardSize-1)) {
                                            loadCampaignById(active_campaign);
                                          //}

                                          $(`#preview-${id}-${id_card}`).click({param: id_card}, preview_click);                                    
                                          $(`#web-${id}-${id_card}`).click({param: id_card}, web_click);                                                                      

                                          countDesigns++;

                                        }  
                                    });                             

                                  }
                              });

                            }
                              
                        });

                    //end foreach
                    });                             
                    
                  //end size
                  }  

              });
            
            });

            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });

            $("#campaign-domain").keyup(function(event) {
              var stt = $(this).val();
              let link = "http://" + stt + ".noti.ms/id";
              $("#domain-link").text(link);
            });            

        } else {
          //Not logged redirecting
          let local = window.location.href;           
          window.location.href = local + "/index.html";
        //end user
        }

        function getNewDesignName(){

        }

        $("#campaign-table tbody").delegate('tr', 'click', function(e) {       
          $(this).addClass('selected').siblings().removeClass('selected');    
          var value = $(this).find('td:first').html();
          active_campaign = $(this).attr('id');
          loadCampaignById(active_campaign);
          console.log(active_campaign);          
          console.log(value);          
        });

        function preview_click(event){
          buildLink("preview", event.data.param);                     
        }

        function web_click(event){
          buildLink("web", event.data.param);                     
        }

        async function buildLink(type, id) {           
          await firestore.collection('accounts')
          .doc(window.account)
          .collection("campaigns")
          .doc(campaignId)
          .collection("designs")
          .doc(id).set({load_type:type},{ merge:true });
          let web = window.location.origin + "/composer";
          let url = `${web}/designer?&account=${window.account}&campaignId=${campaignId}&designId=${id}`;            
          window.open(url, '_blank');
        }

        function loadCampaignById(campaignId) {

          $("#campaign-table tbody tr").remove();
          $("#field-table tbody tr").remove();
          $("#campaign-name").val('');                  

          $('.modal-login').find(".alert").remove();

          var campaigns = jsonCat.campaigns;

          let length = campaigns.length;

          for (var i=0; i<length;i++){

            let campaign = campaigns[i];
            campaign_id   = campaign.id;

            campaign_name = campaign.name;
            $("#campaign-name").val(campaign_name);              
            
            campaign_domain = campaign.subdomain;    
            $("#campaign-domain").val(campaign_domain);              

            let item = campaign.item;
            $('#campaign-table').append(item);

            let fields = campaign.fields;

            for (var j=0; j<fields.length; j++) {
              let field = fields[j];
                $('#field-table').append(field); 
            }

            if (campaign.designs) {

              var designs = campaign.designs;

              for (var j=0; j<designs.length; j++) {
                let design = designs[j];
                let id = design.id;
                let card = design.card;                                    
                $(`#preview-${campaign_id}-${id}`).click({param: id}, preview_click);                                    
                $(`#web-${campaign_id}-${id}`).click({param: id}, web_click);                                    
                $("#card-" + id).remove();
                $("#cards").append(card);                                 
              } 
            } 
          }
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();        
            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;        
            return [day, month, year].join('-');
        }

      //end auth
      }); 


      $("#add-field").on('click', function() {  
          let item = `<tr id="field${count_field}">              
            <td>
              <input id="name_${count_field}" type="text" class="form-control">
            </td>
            <td>
              <input id="value_${count_field}" type="text" class="form-control">
            </td>                               
          </tr>`;   
          $('#field-table').append(item); 
          count_field++;
      });   

      $("#new-campaign").on('click', function() {  
        //$("#campaign-table tbody tr").remove();
        $("#field-table tbody tr").remove();
        $("#msgModalContent").val('');      
        $("#campaign-name").val('');
        $("#campaign-name").focus();
        $("#cards").empty();
        count_field=0;
      });

      $('#msgModal').on('hidden.bs.modal', function (e) {

        var type = $('#msgModal').data('type');

        if (type == 1) {

          $("#campaign-name").focus();

        } else if (type == 2) {

          $("#add-field").focus();

        }
        
      });

      $("#save-campaign").on('click', function() {  

        var campaign_name = $("#campaign-name").val();

        if (campaign_name=="" || campaign_name==undefined) { 

          $('#msgModalTitle').text("Guardado");
          $('#msgModalContent').text("Es necesario que ingreses un nombre para la nueva campaña.");                    
          $('#msgModal').data('type', 1);
          $('#msgModal').modal('show');

        } else {

          if (count_field == 0) { 

            $('#msgModalTitle').text("Guardado");
            $('#msgModalContent').text("Es necesario que ingreses los campos dinámicos. Cliquea en Agregar campo '+' para agregar los campos o bien subi un archivo de excel con la primera columna campo y la segunda valor. ");                    
            $('#msgModal').data('type', 2);
            $('#msgModal').modal('show');

          } else {


            let _table_size = $("#field-table tbody tr").length;

            var count = 0;
            var fields_array = [];
            var _break = false;
            
            $("#field-table tbody tr").each(function() {
                
              if (_break==false) {                  

                let campaign_name = $("#campaign-name").val();
                let _name = $("#name_" + count ).val();
                let _value = $("#value_" + count ).val(); 
                let _field = {
                  "name":_name,
                  "value":_value
                };   
                fields_array.push(_field);
                if (count == (_table_size-1)) {
                  saveCampaig(campaign_name, fields_array);          
                  _break = true;
                } 
                count++;
              }

            });

          }    

        }

      });

      async function saveCampaig(campaign_name, fields_array) {

        var cname;

        if (/\s/.test(campaign_name)) {
            cname = campaign_name.split(' ').join('_');
        }     
        
        var _time =  new Date();

        var uiid, encodedPath, docPath;

        var designRef;

        var campaign;       
        var existing_name, existing_id;
        
        if (jsonCat.campaigns!=null) {

          existing_name = jsonCat.campaigns[active_campaign].name;
          existing_id   = jsonCat.campaigns[active_campaign].id;  

        }             

        var json = {        
              name: campaign_name,
              cname: cname,
              last_update: _time,      
              time_created: _time,
              fields: fields_array            
        };

        if ($('#campaign-domain').val().length > 0) {
          json.subdomain = $('#campaign-domain').val();
        }

        if (existing_name == campaign_name) {

          campaign = await firestore.collection('accounts')
            .doc(window.account)
            .collection("campaigns")
            .doc(existing_id).get();

            await campaign.set(json,{ merge:true });

            return;

        } else {

          campaign = await firestore.collection('accounts')
            .doc(window.account)
            .collection("campaigns")
            .doc();                

            var campaignId = campaign.id;

            try {

                $("#field-table tbody tr").remove();

                campaign.set(json,{ merge:true }).then((campaignRef) => {          

                    return campaign.collection("designs").add({name: "A"});               

                }).then((designRefResult) => {

                    designRef = designRefResult;                 
                  
                    docPath = campaign.path + "/designs/" + designRef.id;
                    encodedPath = window.btoa(docPath);                   

                    let html_preview = `<div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <h3>
                              Preview de nueva campaña ${campaign_name}
                            </h3>
                            <p>
                              <small>Hace click aqui para crear preview.</small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>`;

                  var _time =  new Date();
                  let payload_preview = {                        
                    created_date: _time,  
                    html_preview: html_preview,                              
                    encoded_path: encodedPath,
                    image_width_preview: parseInt(300),
                    image_height_preview: parseInt(200),
                    last_update: _time,                
                    preview_update: true                
                  };  
                  
                  return designRef.set(payload_preview,{ merge:true });                             

                }).then((docDefignRef) => {

                  sleep(2000);

                  let html_web = `<div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <h3>
                              Web landing page de nueva campaña ${campaign_name}
                            </h3>
                            <p>
                              <small>Hace click aqui para crear qwv.</small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>`;
                  
                  var _time =  new Date();

                  let payload_web = {                        
                    created_date: _time,  
                    html_web: html_web,                              
                    encoded_path: encodedPath,
                    image_width_web: parseInt(300),
                    image_height_web: parseInt(500),
                    last_update: _time,                
                    web_update: true                
                  };     
                  
                  return firestore.collection('accounts')
                  .doc(window.account)
                  .collection("campaigns")
                  .doc(campaignId)
                  .collection("designs")
                  .doc(designRef.id).set(payload_web,{ merge:true });                                         

                }).then(docRefSet => {       

                  $('#msgModalTitle').text("Guardado con éxito");
                  $('#msgModalContent').text('La campaña ' + campaign_name + ' ha sido guardada con exito.');                    
                  $('#msgModal').data('type', 1);
                  $('#msgModal').modal('show');                  

                });                

              } catch (e) {            
                  console.error("Error adding document: ", e);           
              } 
          }

        };       

        $("#excel-file").on('change', function() {

          try {

            let _files = document.getElementById("excel-file").files;
            
            if (campaign_name=="" || campaign_name==undefined) { 

              campaign_name = document.getElementById("campaign-name").value; 

            }
            
            if(campaign_name.length > 0) {               

                var cname;              

                if (/\s/.test(campaign_name)) {
                    cname = campaign_name.replace(/ /g, "_").toLowerCase();
                } else {
                  cname = campaign_name.toLowerCase();
                }

                var cclient;

                if (/\s/.test(client_name)) {
                    cclient = client_name.replace(/ /g, "_").toLowerCase();
                } else {
                    cclient = client_name.toLowerCase();
                }

                if (_files.length>0) {

                  let path = "files/" + cclient + "/excel/" + cname;
                    
                    var storageRef = storage.ref(path);       
                      
                    var filePath =  cname + "_" + new Date().valueOf() + ".xls";        
                    var thisRef = storageRef.child(filePath);    

                    var file = [0]; 
                    var input = this;
                    var length = input.files.length;
                    var _file = input.files.item(0); 
                    
                    var metadataFiles = {
                      customMetadata: {                
                          'type': 'xls',                            
                          'documentId' : window.account,
                          "xlsPath" : path                        
                      }
                    };                    
                
                    var putRef = thisRef.put(_file, metadataFiles);  
                    putRef.on('state_changed', function(snapshot) {
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                          case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                          case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                        }
                      }, function(error) {
                        console.log('Error uploading: ' + error);
                      }, function() { 
                        console.log('Upload finished');
                    });

                } else {
                  errorLoadingExcel("No se pudo cargar un archivo válido.");
                };

            } else {
              errorLoadingExcel("Debes ingresar un nombre de campaña para poder subir un archivo.");                            
            }

          } catch (e) {            
              console.error("Error adding document: ", e);     
              errorLoadingExcel("Error al cargar el archivo. " + e);      
          } 

        });   

        function errorLoadingExcel(message) {
          $('#msgModalTitle').text("Error al cargar archivo");
          $('#msgModalContent').text(message);                    
          $('#msgModal').data('type', 4);
          $('#msgModal').modal('show');
        }
        
        function uuidv4() {
          return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
          });
        }


        function filterCard(campaign_id, card_id, m, w, p) {        
          if ( ( w!=undefined ) && ( p!=undefined ) ) {         
            return getCard(campaign_id, card_id, m, p, w, p);         
          } else {
            if ( w ) {
              return getCardCustom(campaign_id, card_id, m, w);              
            }  else if ( p ) {
              return getCardCustom(campaign_id, card_id, m, p);              
            }
          }
        }

        function getCard(campaign_id, card_id, campaign_name) {
          return getCard(campaign_id, card_id, campaign_name, undefined, undefined);
        }

        function getCardCustom(campaign_id, card_id, campaign_name, img_preview) {
          return getCard(campaign_id, card_id, campaign_name, img_preview, undefined);
        }

        function getCardCustom(campaign_id, card_id, campaign_name, img_web) {
          return getCard(campaign_id, campaign_name, undefined, img_web);
        }

        function getCard(campaign_id, card_id, campaign_name, img_preview, img_web) {

          var timestamp = new Date().getTime();     
          
          let card = `<div id=\\"card-${card_id}\\" id=\\"card-\\" class=\\"col-md-3\\" style=\\"background-color:#E8F0FE;\\">                              
                <div class=\\"row col-md-12 mt-3 mb-2\\">                                
                  <div class=\\"col-md-10\\">
                    <h3 >${campaign_name}</h3>                                
                  </div>
                  <div class=\\"col-md-2\\">                           
                    <button type=\\"button\\" class=\\"float-right btn btn-success\\">X</button>
                  </div>
                </div>
                <button id=\\"preview-${campaign_id}-${card_id}\\" class=\\"card border round w-100\\">`;                                        
                if (img_preview) {
                  img_preview += "&t=" + timestamp;
                  card += `<img class=\\"w-100\\" src=\\"${img_preview}\\"/>`;
                } else {
                  card += `<div id=\\"preview-image-${campaign_id}-${card_id}\\" class=\\"card-body\\">
                            Preview
                          </div>`;
                }
                card += `</button>                                
                <br>
                <button id=\\"web-${campaign_id}-${card_id}\\" class=\\"card border rounded\\">`;                        
                if (img_web) {
                  img_web += "&t=" + timestamp;
                  card += `<img class=\\"w-100\\" src=\\"${img_web}\\"/>`;                  
                } else {
                  card += `<div id=\\"web-image-${campaign_id}-${card_id}\\" class=\\"card-body\\">
                                  Web Page
                                </div>`;
                }
                card += `</button>
                  <div class=\\"row\\">
                    <div class=\\"col-md-12\\">
                  </div>
                  </div>
                  <div class=\\"col-md-4\\">
                  </div>
                  <div class=\\"col-md-4\\">
                  </div>
                </div>`;            

            return card;
        }

      });  



        function generateNewWebImage () {

        }
      
    </script>     

  </body>

</html>
