<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">     
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="/vendor/colorPicker/css/bootstrap-colorpicker.css">
     <link rel='icon' href='https://vigil.com.ar/favicons/notimation.ico' type='image/x-icon' />

     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
     
     <title>Noti.ms</title>
  
      <style>  
    
        .column-background {
          background-color: #fff; border-radius: 5px; padding: 20px; 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        }

        .droppable-active { background-color: #ffe !important; }
        .tools a { cursor: pointer; font-size: 80%; }
        .form-body .col-md-6, .form-body .col-md-12 { min-height: 800px; }
        .draggable { cursor: move; }

        hr {
          margin-top: 1rem;
          margin-bottom: 1rem;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        .checkbox {
          padding-left: 10px;
          padding-right: 10px;
        }
        
        .form-composer {
          padding-left:15px;
        }       


        #table_ports td {
          text-align: center;
          vertical-align: middle;
        } 
      
      
     </style>

  </head>

  <body>       

    
    
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
    <script src="https://cdn.tiny.cloud/1/lr9wasio09vwo6la4k91gs8hybva1vp7oxw5k9cfpm2g5pm6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautifier.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautifier.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-storage.js"></script>        
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-auth.js"></script>            
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-functions.js"></script>   

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.js"></script>       
  
    <script src="/vendor/colorPicker/js/bootstrap-colorpicker.js"></script>

    <div id="login">
      Preview composer - Not Logged
    </div>  
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="column-background">
            <div class="tabbable" id="tabs-381741">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#tab1" data-toggle="tab">Gateways</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab2" data-toggle="tab">Port Groups</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active">

                  <form id="form-composer" role="form">

                    <br>
                   
                    <div id="daysTable" class="form-group">
                      <div class="table-responsive">
                        <table id="table_gateways" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                            <tr>
                              <th>Gateway</th>                                                        
                            </tr>
                          </thead>
                          <tbody id="fields_gateway">
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                    <div id="daysTable" class="form-group">
                      <div class="table-responsive">
                        <table id="table_days" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                            <tr>
                              <th>Collection</th>
                              <th>Day</th>                              
                            </tr>
                          </thead>
                          <tbody id="fields_day">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  
                  </form>

                </div>
                <div class="tab-pane" id="tab2">
                  <p>
                    Howdy, I'm in Section 2.
                  </p>
                </div>
              </div>
            </div>

          </div>          
        </div>
        <div class="col-md-5">

          <div class="column-background" style="font-size: 15px;">
            <label>Arrastrar y soltar elementos.</label>
            <div class="row" id="composer"></div>
            <hr/>
            <div class="row form-body">
              <div class="col-md-12">

                <div id="portsTable" class="form-group">
                  <div class="table-responsive">
                    <table id="table_ports" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                      <thead>
                        <tr>
                          <th>Port</th>
                          <th>Card</th>
                          <th>Operator</th>
                          <th>Cons</th>                                                    
                          <th>Phone</th>                                                              
                        </tr>
                      </thead>
                      <tbody id="fields_port">
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>              
            </div>

        </div>
          
        </div>       
        <div class="col-md-4">
          <div class="column-background">
            <div class="form-group draggable">
              <div id="phone-details">            
                
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>

    <script>



    $(document).ready(function () {  

      var active_saludo = false;
      var active_cuerpo = false;
      var active_from_button = false;

      var target_result;

      var data;
      var count_drop = 0;

      const firebaseConfig = {
        apiKey: "AIzaSyCqHL-r0exNSssAxX_VZWQi5eNM3T3F4qk",
        authDomain: "noti-gateways.firebaseapp.com",
        databaseURL: "https://noti-gateways-default-rtdb.firebaseio.com",
        projectId: "noti-gateways",
        storageBucket: "noti-gateways.appspot.com",
        messagingSenderId: "699429402101",
        appId: "1:699429402101:web:34718cd8efa6b65ee45cbc",
        measurementId: "G-REFPNHRQ5S"
      };
      firebase.initializeApp(firebaseConfig); 

      const db = firebase.firestore();
      
      if (location.hostname === "localhost") {        

        db.settings({
          host: "localhost:8080",
          ssl: false
        });

      }     

      const storage = firebase.storage();
      const database = firebase.database();
      const functions = firebase.functions();  
      
      const fieldsDay = document.getElementById('fields_day');

      function formatDate(date) {
          var d = new Date(date),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();
      
          if (month.length < 2) 
              month = '0' + month;
          if (day.length < 2) 
              day = '0' + day;
      
          return [day, month, year].join('-');
      }

      var gateway_selected;
            
      $('#table_gateways tbody').on( 'click', 'td', function (e) {

        var id = $(e.target).html();     
        
        gateway_selected = id;

        const gatewaysDocRef = db.collection("gateways")
        .doc(id);       
        gatewaysDocRef
          .get().then(document => {

          var contentDay = '';
          var days = document.data().days;

          console.log("days: " + JSON.stringify(days));

          let dlength = days.length;

          console.log("dlength: " + dlength);

          for (var i=0; i<dlength;i++) {
            
            let date = formatDate(days[i].date.toDate());
            let coll = days[i].date_ports; 

            console.log("date:" + date + " coll: " + coll);

            let html = `<tr data-row="${coll}">
                    <td>${coll}</td>
                    <td>${date}</td>                      
                    </tr>`;
            contentDay += html;
            fieldsDay.innerHTML = contentDay;

          }

        });

      });

      var GetSortOrder = function(prop) {    
          return function(a, b) {    
              if (a[prop] > b[prop]) {    
                  return 1;    
              } else if (a[prop] < b[prop]) {    
                  return -1;    
              }    
              return 0;    
          }    
      }

      

      window.reboot = function(_id) {

      }

      window.showPhonePanel = function(_id) {

        $("#phone-details").empty();
        let id = "#"+_id;
        let _data = $(id).attr("data-phone").replace(/\'/g,'"');
        let data = JSON.parse(_data);
        console.log("data: " + JSON.stringify(data));
        let phone = data.phone;
        let operator = data.operator;
       
        let phone_details = `<div class="card">          
          <div class="card-body">
            <span style="font-size:25px; color=grey;">${data.phone}</span>                     
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Puerto ${data.id}</li>
            <li class="list-group-item">Card ${data.card}</li>
            <li class="list-group-item">Operador ${data.operator}</li>
            <li class="list-group-item">Consumo ${data.consumption}</li>            
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Cambiar Numero</a>
            <a href="#" class="card-link">Enviar Mensaje</a>
          </div>
        </div>`;
        
        $("#phone-details").append(phone_details);
        
      }

      const fieldsPort = document.getElementById('fields_port');

      $('#table_days tbody').on( 'click', 'tr', function (e) {

        var content = $(e.target).html(); 

        var coll_name = $(this).data('row'); 

        /*var coll_name;

        if (content.indexOf('ports') !== -1) {
          coll_name = content;
        } else {
          let rep = content.replace(/-/g, "_");
          console.log("rep: " + rep);
          coll_name = "ports_" + rep;          
        }*/

        console.log("coll_name:" + coll_name);
        console.log("gateway_selected:" + gateway_selected);  
        
        

        db.collection('gateways')
        .doc(gateway_selected)
        .collection(coll_name).get().then(async snapshot => {

            var content = '';
            var cards = ["A","B","C","D"];

            var portsArray = await new Promise( (resolve, reject) => {

              var _arr = [];

              var clength = snapshot.size;

              console.log("LENGTH: "+ clength);

              var count = 0;

              snapshot.docs.forEach(doc => {

                var data = doc.data(); 
                let id = doc.id;
                let _id = id.split("port")[1];
               
                let _json = `{
                  "id":${_id},
                  "data": [`;
                  
                for (var i=0; i<cards.length; i++) {                    
                  let op, ph; 
                  let card = cards[i];
                  let operator = data[card].operator;
                  let phone = data[card].phone;
                  if (operator == undefined) {
                    op = "";
                  } else {
                    op = operator;
                  }
                  if (phone == undefined) {
                    ph = "";
                  } else {
                    ph = phone;
                  }
                  _json += `{"card":"${card}",
                  "operator":"${op}",
                  "consumption":${data[card].consumption},
                  "phone":"${ph}"}`;
                  if (i<3) {
                    _json += `,`;
                  }
                }
                _json +=  `]}`;   
           
                console.log(_json);                
                _arr.push(JSON.parse(_json));

                if (count == (clength-1)) {
                  resolve(_arr.sort(GetSortOrder("id")));                  
                }
                count++;

              }, error => {
                console.log("ERROR: " + error.message);
              });

          });    
          
          let cleanArray = JSON.stringify(portsArray);         
          console.log(cleanArray);

          for (var j=0; j<portsArray.length; j++) {

            let port = portsArray[j];
            var id = port.id;
            var datas = port.data;
            var dlength = datas.length;
            console.log("dlength: " + dlength);
            let html = `<tr>`;

            for (var i=0; i<dlength; i++) {
              let data = datas[i];
              data.id = id;
              let dash = "";
              if (i==3) {
                dash = `style="border-bottom: 3px solid black;"`;
              }
              if (i==0) {              
                html +=  `<td rowspan="4" width="40px" style="border-bottom: 3px solid black;">${port.id}</td>
                <td width="60px">A</td>`;              
              } else {
                html += `<td ${dash}>${data.card}</td>`;
              }

              html += `<td ${dash}>${data.operator}</td>
                <td ${dash}>${data.consumption}</td>
                <td ${dash}><a id="${data.phone}" href="#" onclick="window.showPhonePanel(${data.phone});" data-phone="${JSON.stringify(data).replace(/\"/g,"'")}" class="nav-link active">${data.phone}</a></td>                    
              </tr>`;

              console.log(html);

            } 
                
            content += html;
            fieldsPort.innerHTML = content;    

          }

          
        });

      });

      const fieldsGateway = document.getElementById('fields_gateway');      

      const gatewaysRef = db.collection('gateways');  
      gatewaysRef.get().then(snapshot => {

        var content = '';

        snapshot.docs.forEach(doc => {

          var docData = doc.data();
          console.log(docData);   
          
          if (doc.id != "urls") {
            
            let html = `<tr><td><div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <span style="font-size:25px; color=grey;">${doc.id}</span>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <a class="nav-link active" href="#" onclick="window.reboot(${data.phone});" data-phone="${JSON.stringify(data).replace(/\"/g,"'")}" class="nav-link active">Reboot</a>
                </div>
              </div>
            </div></td></tr>`;

            ///let html = `<tr>
            //        <td>${doc.id}</td>                      
            //        </tr>`;
            content += html;
            fieldsGateway.innerHTML = content;
            
          }


        }, error => {
          console.log(error.message);
        });
     });


   
      /*$( "#login" ).click(function() {       

        firebase.auth()
        .signInWithEmailAndPassword("josemanuelvigil@gmail.com", "master")
        .then(function(user) {    
          
          console.log(user.id);

          window.location.reload();  

        }).catch( function(error) {                         
            var errorMessage = error.message;  
            console.log(errorMessage);
        });

      });        
    
      firebase.auth().onAuthStateChanged(function (user) {

        if (user) { 

          $("#login").text("Logged");

          
          

        }

      }); */ 

    });  

    </script>

   
   
  </body>
</html>